app/ml_models/spikenet2/1s-round11-hardmine-chan_weights-v1.ckpt filter=lfs diff=lfs merge=lfs -text
app/models/implementations/spikenet2/1s-round11-hardmine-chan_weights-v1.ckpt filter=lfs diff=lfs merge=lfs -text
